/* .v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.v-overlay__content.v-combobox__content {
  z-index: 10000;
} */

.choices__item {
  text-wrap: nowrap;
  /* overflow: hidden; */
}

#ItemCombobox {
  margin-left: 68px;
  margin-bottom: 10px;
  display: block;
}
.gw-popup-select {
  padding: 0px;
  width: 100%;
}
